numba==0.53.0
braceexpand
webdataset
youtokentome
pyannote.audio
inflect
editdistance
traitlets
ptyprocess
pickleshare
backcall
ipython
librosa==0.9.2
soundfile
tshelve
hydra-core==1.2.0
hydra-colorlog==1.2.0

numpy
pandas
torch==1.11.0
torchaudio
transformers
speechbrain
nemo-toolkit
pytorch-lightning==1.6.5
pyctcdecode
https://github.com/kpu/kenlm/archive/master.zip
jiwer

matplotlib
seaborn